#Data 
*.nc
*.grib
*.grib.*
*.zarr/
*.zarr
*.csv
*.pkl
*.png
*.html
*.pt
*.pyc

#Checkpoints
*.ckp


#Folders
.ipynb_checkpoints/
conda_envs/
.vscode/
.venv/
artifacts/*

# Python
__pycache__/
*.py[cod]
*$py.class